


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(home-images/home-1.jpg);
 
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(12,11,9,0.6);
    color: #fff;
    padding: 10px 150px;
    text-transform: uppercase;
}


nav .logo h1{
  text-transform: uppercase; 
  color:#cda45E; 
  font-size: 25px;

}


nav .logo h1 span{
color:#fff;
font-family: 'Dancing Script', cursive;
font-size: 25px;
text-transform: lowercase;


}
nav ul{
display: flex;

}

nav ul li{
    list-style: none;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s ease;
}
nav ul li a:hover{
    color: #cda45E;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.banner h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px solid #cda45E;
    padding: 20px;
}
.banner h2 span{
color: #cda45E;
font-size: 35px;
}
.banner h3{
    color: #fff;
    padding: 20px;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}


.special{
    display: flex;
    justify-content: center;
    align-items: center;

}
.special .special-box{
    height: 220px;
    width: 160px;
    background: rgba(12,11,9,0.6);
    margin-top: -100px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    border: 2px solid #cda45E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.special-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #cda45E;
   
}

.special-box h2{
   color: #fff; 
   font-size: 18px;
   font-weight: 400;
   padding: 10px;
}
.special-box h3{
    color: #fff; 
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
 }
