


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


.home{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/home-page-header.jpg");

 
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(12,11,9,0.6);
    color: #fff;
    padding: 10px 150px;
    text-transform: uppercase;
}


nav .logo h1{
  text-transform: uppercase; 
  color:#cda45E; 
  font-size: 25px;

}


nav .logo h1 span{
color:#fff;
font-family: 'Dancing Script', cursive;
font-size: 25px;
text-transform: lowercase;


}
nav ul{
display: flex;

}

nav ul li{
    list-style: none;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s ease;
}
nav ul li a:hover{
    color: #cda45E;
 
}

nav .social{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:10px;
}

nav .social a{
    background: transparent;
    border: 2px solid #cda45E;
    height: 30px;
    width: 30px;
    display: block;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    transition: 0.4s ease;

}


nav .social a:hover i{
  
    color: #292929;
}
nav .social a:hover{
  
    background: #cda45E;
}

nav .social a i{
    font-size: 18px;
   color: #cda45E;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: -50px;

}

.banner h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px solid #cda45E;
   
    padding: 30px;
}

.banner h2 span{
color: #cda45E;
font-size: 35px;
}
.banner h3{
    color: #fff;
    padding: 20px;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}


.special{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.special h1{
    background-color: #cda45E;
    padding: 10px;
    color: #292929;

    font-size: 15px;
    word-spacing: 5px;
    text-transform: uppercase;
   position: absolute;
   left: 750px;
   top: 460px;
}
.special .special-box{
    height: 220px;
    width: 160px;
    background: rgba(12,11,9,0.6);
    margin-top: -100px;
 
    border: 2px solid #cda45E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.special-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #cda45E;
   
}

.special-box h2{
   color: #fff; 
   font-size: 18px;
   font-weight: 400;
   padding: 10px;
}
.special-box h3{
    color: #fff; 
    font-size: 18px;
    font-weight: 900;
    padding: 5px;
 }

 .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;

 }


.panel{
    height: 450px;
    width: 500px;
    background-color: rgba(12,11,9,0.6);
    padding: 10px;
}
.panel h3{
    color:#cda45E;
    text-transform: uppercase;
    padding: 2px;
}

 .address{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .box{
    height: 200px;
    width: 230px;
    border: 2px solid #cda45E;
    background-color: rgba(12,11,9,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#cda45E;
    overflow: hidden;
    transition:0.3s ease;
    cursor: pointer;

 }
 .box:hover{
    transform: scale(0.5);
 }
 .box i{
    font-size: 25px;
    padding: 10px;
    color:#fff;
 }
 .box-1 h1{
    font-size: 18px;
    text-transform: uppercase;
 }

 .box-1 h2{
    font-size: 14px;
    padding: 5px;
 }
 .box-2 i{
    font-size: 40px;
 }

 .box h3{
    font-size:15px;
    padding-top: 10px;
 }
 .contact{
    background-color: rgba(12,11,9,0.6);
    padding: 10px;
    border: 2px solid  #cda45E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
 }



.form-group{
    padding: 10px;

}

input{
    height: 30px;
    width: 300px;
    padding: 5px;
    font-size: 14px;
    background: #cda45E;
    color: #fff;
    border: none;
    outline: none;

}
textarea{
    background: #cda45E;
    border: none;
    resize: none;
    color:#fff;
    padding: 10px;
    outline: none;

}
.btn-send{
    padding: 8px 30px;
    background-color: transparent;
    border: 2 px solid #cda45E;
    outline: none;
    color:  #cda45E;
    cursor: pointer;
 transition: 0.4s ease;
}








 @media (max-width:991px){


 }
 @media (max-width:768px){


 }
 @media (max-width:450px){


 }

